sqlalchemy
alembic==1.3.0
apipkg==1.5
atomicwrites==1.3.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
clickclick==1.2.2
colorama==0.4.1
connexion==2.4.0
coverage==4.5.4
decorator==4.4.1
execnet==1.7.1
Flask==1.1.1
flask-marshmallow==0.10.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
idna==2.8
importlib-metadata==0.23
inflection==0.3.1
invoke==1.3.0
ipython==7.10.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jsonschema==3.1.1
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==3.2.2
marshmallow-sqlalchemy==0.19.0
more-itertools==7.2.0
numpy==1.17.4
openapi-spec-validator==0.2.8
packaging==19.2
pandas==0.25.3
parso==0.5.1
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.1
psycopg2==2.8.4
py==1.8.0
Pygments==2.5.1
pyparsing==2.4.5
pyrsistent==0.15.5
pytest==5.3.1
pytest-cov==2.8.1
pytest-forked==1.1.3
pytest-xdist==1.30.0
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
six==1.13.0
soupsieve==1.9.5
swagger-ui-bundle==0.0.6
traitlets==4.3.3
urllib3==1.25.6
wcwidth==0.1.7
Werkzeug==0.16.0
wget==3.2
zipp==0.6.0
